
body {
  font-family: sans-serif;
  background-color: #001;
  color: #fff;
  text-align: center; 
}


#labels {
  position: absolute;
  top: 0px;
  left: 100px;
  width: 750px;
  height: 500px;
  background-image: url(label.png);
  background-size: 750px 500px;
  background-repeat: no-repeat;
  z-index: -1;
}

#bg {
  position: absolute;
  top: 0px;
  left: 100px;
  width: 750px;
  height: 500px;
  background-image: url(bg.png);
  background-size: 750px 500px;
  background-repeat: no-repeat;
  z-index: -2;
  opacity: 0.5;
}


#pad {
  position: absolute;
  top: 0px;
  left: 100px;
  z-index: -3;
}

.lbl {
  position: absolute;
  transform: skew(-30deg);
  color: #99b;
  font-weight: bold;
  z-index: 1000;
}

#s_sy { top: 215px; left: 207px; font-size: 12px; }
#s_bs { top: 245px; left: 195px; font-size: 15px; }
#s_hh { top: 280px; left: 190px; font-size: 17px; }
#s_cl { top: 315px; left: 157px; font-size: 18px; }
#s_sd { top: 355px; left: 152px; font-size: 22px; }
#s_bd { top: 405px; left: 125px; font-size: 25px; }



#grid {
  position: absolute;
  top: 0px;
  left: 1000px;

  display: grid;
  grid-template-columns: repeat(8, 40px);
  grid-template-rows: repeat(6, 40px);
  gap: 4px;
  margin: 30px auto;
  width: max-content;
}
.pad {
  width: 40px; height: 40px;
  background: #444;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.2s;
}

.pad.on { background: #1db954; }
.pad.active { outline: 2px solid yellow; }

#startBtnDiv {
  position: absolute;
  top: 530px;
  left: 100px;
  background: #444;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.2s;
}

button { 
  padding: 8px 20px; 
}

#startstop {
  position: absolute;
  top: 138px;
  left: 385px;
  width: 85px;
  height: 40px;
  background-color: rgba(255,255,255,0.0);
  z-index: 10000;
}

#bpm {
  position: absolute;
  top: 195px;
  left: 565px;
  width: 32px;
  height: 25px;
  background-color: rgba(255,255,255,0.0);
  z-index: 10000;
}

#bpminput {
  display: none;
  position: absolute;
  top: 530px;
  left: 100px;
  background: #224;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 14px;
  color: #ccf;
}

#bpmval {
  width: 45px;
  font-size: 14px;
  text-align: right;
  margin-left: 5px;
}

