
body {
  font-family: sans-serif;
  background-color: #001;
  color: #fff;
  text-align: center; 
}


#labels {
  position: absolute;
  top: -80px;
  left: 0px;
  width: 1000px;
  height: 667px;
  background-image: url(label.png);
  background-size: 1000px 667px;
  background-repeat: no-repeat;
  z-index: -1;
}

#bg {
  position: absolute;
  top: -80px;
  left: 0px;
  width: 1000px;
  height: 667px;
  background-image: url(bg.png);
  background-size: 1000px 667px;
  background-repeat: no-repeat;
  z-index: -2;
  opacity: 0.5;
}

#pad {
  position: absolute;
  top: -80px;
  left: 0px;
  z-index: -3;
}

.lbl {
  position: absolute;
  transform: skew(-30deg);
  color: #99b;
  font-weight: bold;
  z-index: 1000;
}

#s_sy { top: 210px; left: 167px; font-size: 12px; }
#s_bs { top: 245px; left: 145px; font-size: 15px; }
#s_hh { top: 290px; left: 105px; font-size: 17px; }
#s_cl { top: 340px; left: 88px; font-size: 20px; }
#s_sd { top: 400px; left: 42px; font-size: 22px; }
#s_bd { top: 465px; left: 15px; font-size: 28px; }



#grid {
  display: grid; 
/*  display: none; */

  position: absolute;
  top: 0px;
  left: 1040px;

  grid-template-columns: repeat(8, 40px);
  grid-template-rows: repeat(6, 40px);
  gap: 4px;
  margin: 30px auto;
  width: max-content;
}
.pad {
  width: 40px; height: 40px;
  background: #444;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.2s;
}

.pad.on { background: #1db954; }
.pad.active { outline: 2px solid yellow; }

button { 
  padding: 8px 20px; 
}

/* transparent button over the START/STOP button */
#startstop {
  position: absolute;
  top: 138px;
  left: 385px;
  width: 85px;
  height: 40px;
  background-color: rgba(255,255,255,0.0);
  z-index: 10000;
}

/* transparent button over the BPM balloon */
#bpm {
  position: absolute;
  top: 195px;
  left: 565px;
  width: 32px;
  height: 25px;
  background-color: rgba(255,255,255,0.0);
  z-index: 10000;
}

/* BPM input balloon */
#bpminput {
  display: none;
  position: absolute;
  top: 100px;
  left: 580px;
  width: 150px;
  height: 112px;
  background-image: url(balloon.png);
  background-size: 150px 112px;
  background-repeat: no-repeat;
}

/* BPM input box inside the balloon */
#bpmval {
  margin-top: 18px;
  width: 55px;
  font-size: 18px;
  text-align: right;
  margin-left: 5px;
}

#padproperty {
  position: absolute;
  top: 610px;
  left: 250px;
  width: 400px;
  height: 100px;
  border-radius: 4px;
  padding: 20px 40px;
  text-align: left;
  font-size: 16px;
  color: #ccc;
  background-color: #222244;
}

#padstatus {
  position: absolute;
  top: 20px;
  left: 300px;
  font-size: 24px;
  font-weight: bold;
  width: 80px;
  height: 60px;
  border: #bbb 1px solid;
  border-radius: 4px;
  background-color: #1db954;
  text-align:center;
  padding: 20px 0 0 0;
  margin-top: 10px;
  cursor: pointer;
}

.props {
  margin-top: 20px;
  margin-left: 20px;
  margin-top: 6px;
  font-size: 18px;
  color: #ccf;
}

.propval {
  color: #fff;
}


#debugpanel {
/*  display: none; */

  position: absolute;
  top: 330px;
  left: 1040px;
  width: 350px;
  height: 250px;
  padding: 20px;
  text-align: left;
  font-size: 14px;
  color: #ccc;
  background-color: #001122;
}

/* debug panel items */
button {
  width: 100px;
  height: 30px;
  font-size: 14px;
  padding: 0;
}

/* debug panel items */
#latlon {
  width: 340px;
  height: 30px;
  font-size: 18px;
}

