
body {
  font-family: sans-serif;
  background-color: #001;
  color: #fff;
  text-align: center; 
}

h1 {
  position: absolute;
  top: 0px;
  left: 110px;
  font-size: 18px;
  font-weight: lighter;
  color: #ddf;
  transform: scale(1.0, 0.8);
/*  transform: scale(1.0, 0.9) skew(-45deg); */
  z-index: 2000;
}

#bg {
  position: absolute;
  top: 0px;
  left: 100px;
  width: 70%;
  height: 70%;
  background-image: url(bg2.png);
  background-size: 750px 500px;
  background-repeat: no-repeat;
  /*z-index: -1; */
  opacity: 0.5;
}

#bg2 {
  position: absolute;
  top: 0px;
  left: 100px;
  z-index: -2;
/*  opacity: 0.3;*/
}

.lbl {
  position: absolute;
  transform: skew(-30deg);
  color: #99b;
  font-weight: bold;
  z-index: 1000;
}

#s_sy { top: 215px; left: 220px; font-size: 12px; }
#s_bs { top: 245px; left: 210px; font-size: 15px; }
#s_hh { top: 280px; left: 205px; font-size: 17px; }
#s_cl { top: 315px; left: 175px; font-size: 18px; }
#s_sd { top: 355px; left: 170px; font-size: 22px; }
#s_bd { top: 405px; left: 140px; font-size: 25px; }



#grid {
  position: absolute;
  top: 0px;
  left: 1000px;

  display: grid;
  grid-template-columns: repeat(8, 40px);
  grid-template-rows: repeat(6, 40px);
  gap: 4px;
  margin: 30px auto;
  width: max-content;
}
.pad {
  width: 40px; height: 40px;
  background: #444;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.2s;
}

.pad.on { background: #1db954; }
.pad.active { outline: 2px solid yellow; }

#startBtnDiv {
  position: absolute;
  top: 530px;
  left: 100px;
  background: #444;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.2s;
}

button { 
  padding: 8px 20px; 
}
